$red: #d40d02;
$yellow: #d4c602;

.jumbotron{
	background-color: $red;
	color: $yellow;
	margin-top:20px;
	margin-bottom:20px;
	width: 100%;
	height: 60px;
}

.container{
	margin-top: 20px;
}
.btn{
	background-color: gray;
	
}

.card-menu{
	flex: 1 400px;
	padding: 2px 2px 2px 2px;
	margin-left: 10px;
	margin-top: 10px;
}

.btn-ver{
	width: 100%;
	margin-top: 10px;
	border-radius: 0px;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: $red;
	color: black;
	margin-bottom: 0px;
	margin-top: 30px;
}

.icon-adress{
	padding-right: 10px;
}

.datos{
	padding-top: 10px;
}
